---
http_interactions:
- request:
    method: post
    uri: https://api.transmitsms.com/delete-email.json?email=test@email.com
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - ''
      Authorization:
      - |
        Basic MTVhZDI2NmM1MzhmYjM2YzRkOTBmMDEwNTVhZWY0OTQ6bW9vc2U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashape-Billing:
      - Queries=1
    body:
      encoding: UTF-8
      string: '{"success":true,"error":{"code":"SUCCESS","description":"OK"}}'
  recorded_at: Tue, 28 Apr 2015 06:07:55 GMT
recorded_with: VCR 2.9.3
