---
http_interactions:
- request:
    method: post
    uri: http://api.transmitsms.com/delete-from-list.json?list_id=55314&msisdn=61491570158
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - ''
      Authorization:
      - |
        Basic MTVhZDI2NmM1MzhmYjM2YzRkOTBmMDEwNTVhZWY0OTQ6bW9vc2U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashape-Billing:
      - Queries=1
    body:
      encoding: UTF-8
      string: '{"list_ids":[55314],"error":{"code":"SUCCESS","description":"OK"}}'
  recorded_at: Tue, 28 Apr 2015 23:31:51 GMT
recorded_with: VCR 2.9.3
