---
http_interactions:
- request:
    method: get
    uri: http://api.transmitsms.com/get-transactions.json?client_id=2026
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - ''
      Authorization:
      - |
        Basic MTVhZDI2NmM1MzhmYjM2YzRkOTBmMDEwNTVhZWY0OTQ6bW9vc2U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashape-Billing:
      - Queries=1
    body:
      encoding: UTF-8
      string: '{"page":{"count":1,"number":1},"transactions_total":6,"transactions":[{"id":17389230,"user_id":2026,"description":"card
        processing fee","amount":-1,"balance_standing":"$14.630","created":"2015-09-10
        06:33:43","type_description":"","type_id":3},{"id":17389229,"user_id":2026,"description":"Credit
        Top Up - $5.00 (+ $1 card processing fee)","amount":6,"balance_standing":"$15.630","created":"2015-09-10
        06:33:43","type_description":"","type_id":23},{"id":17389228,"user_id":2026,"description":"card
        processing fee","amount":-1,"balance_standing":"$9.630","created":"2015-09-10
        06:32:45","type_description":"","type_id":3},{"id":17389227,"user_id":2026,"description":"Credit
        Top Up - $5.00 (+ $1 card processing fee)","amount":6,"balance_standing":"$10.630","created":"2015-09-10
        06:32:44","type_description":"","type_id":23},{"id":17389226,"user_id":2026,"description":"card
        processing fee","amount":-1,"balance_standing":"$4.630","created":"2015-09-10
        06:25:45","type_description":"","type_id":3},{"id":17389225,"user_id":2026,"description":"Credit
        Top Up - $5.00 (+ $1 card processing fee)","amount":6,"balance_standing":"$5.630","created":"2015-09-10
        06:25:45","type_description":"","type_id":23}],"error":{"code":"SUCCESS","description":"OK"}}'
  recorded_at: Mon, 14 Sep 2015 07:53:09 GMT
recorded_with: VCR 2.9.3
