---
http_interactions:
- request:
    method: get
    uri: https://api.transmitsms.com/get-client.json?client_id=2024
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - ''
      Authorization:
      - |
        Basic MTVhZDI2NmM1MzhmYjM2YzRkOTBmMDEwNTVhZWY0OTQ6bW9vc2U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashape-Billing:
      - Queries=1
    body:
      encoding: UTF-8
      string: '{"id":2024,"name":"wefwefwef","contact":"wefwefwef","email":"fred@treial.com","msisdn":61422265404,"currency":"AUD","client_pays":true,"sms_margin":0,"timezone":"Africa\/Abidjan","created":"2014-07-10
        05:54:11","apikey":"3802a0cf6efd0eeba64ddfbd6ff4a8f8","apisecret":"","recharge_amount":0,"total_lists":0,"total_sms":0,"total_contacts":0,"total_spend":0,"total_revenue":0,"credit_based":false,"trial":"no","trial_expiry_date":"2014-01-01","balance":0,"error":{"code":"SUCCESS","description":"OK"}}'
  recorded_at: Mon, 14 Sep 2015 07:36:59 GMT
recorded_with: VCR 2.9.3
