---
http_interactions:
- request:
    method: get
    uri: http://api.transmitsms.com/get-sms.json?message_id=27746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - ''
      Authorization:
      - |
        Basic MTVhZDI2NmM1MzhmYjM2YzRkOTBmMDEwNTVhZWY0OTQ6bW9vc2U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashape-Billing:
      - Queries=1
    body:
      encoding: UTF-8
      string: '{"message_id":27746,"send_at":"2009-10-13 10:56:55","recipients":0,"cost":0,"sms":0,"delivery_stats":{"delivered":1,"pending":1,"bounced":0,"responses":2,"optouts":0},"error":{"code":"SUCCESS","description":"OK"}}'
  recorded_at: Mon, 14 Sep 2015 07:27:30 GMT
recorded_with: VCR 2.9.3
