---
http_interactions:
- request:
    method: get
    uri: http://api.transmitsms.com/get-message-log.json?message_id=50694&mobile=61422222222
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - ''
      Authorization:
      - |
        Basic MTVhZDI2NmM1MzhmYjM2YzRkOTBmMDEwNTVhZWY0OTQ6bW9vc2U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashape-Billing:
      - Queries=1
    body:
      encoding: UTF-8
      string: '{"message_id":50694,"message":"Testing API to field","mobile":61422222222,"caller_id":61422345678,"datetime_send":"2015-09-14
        07:06:21","error":{"code":"SUCCESS","description":"OK"}}'
  recorded_at: Mon, 14 Sep 2015 07:18:43 GMT
recorded_with: VCR 2.9.3
